#centercontent {
background:#000;
color:#fff;
margin-left:90%;
margin-right: 60%;

voice-family: "\"}\"";
voice-family: inherit;
margin-left:  9%;
margin-right: 9%;
margin-top:7%;
height: 100%;
	}
html>body #centercontent {
margin-left:  100%;
margin-right: 100%;
color:#fff;
}
	#topleftcorner {
padding:20px;
	background: #fff;
	position: absolute;
	left:15%;
	top:30%;
	height:165px;
	width:340px;
	background:#fff;
	color: #000000;
	background-color: #000000;
	background-image: url(../img/text_box_blue.gif);
}
#toprightcorner {
padding:20px;
	background: #000;
	position: absolute;
	left:50%;
	top:30%;
	height:165px;
	width:340px;
	background:#000;
color: #000000;
	background-color: #000000;
	background-image: url(../img/text_box_blue.gif);
}	
#bottomleftcorner {
	background: #000;
	position: absolute;
	left:15%;
	top:60%;
	height:20%;
	width:33%;
	background:#000;

}
#bottomrightcorner {
	background: #000;
	position: absolute;
	left:50%;
	top:60%;
	height:20%;
	width:33%;
	background:#000;


}
	
#leftcontent {
	background: #fff;
	position: absolute;
	left:0%;
	top:0%;
	height:100%;
	width:10%;
	background:#fff;
	
	color: #000000;
	background-color: #FFFFFF;
	background-image: url(../img/green_panel_right.gif);
	}

	
#rightcontent {
	position: absolute;
	right:0%;
	top:0%;
	height:100%;
	width:10%;
	background:#fff;
	
	color: #000000;
		background-color: #FFFFFF;
		background-image: url(../img/green_panel_right.gif);
	}

#topcontent {
	background: #fff;
	position: absolute;
	top:0%;
	left:0%;
	height:10%;
	width:100%;
	background:#000;
	
	color: #fff;
	background-color: #FFFFFF;
	background-image: url(../img/green_panel_top.gif);
	}





