#navlist li
{
display: inline;
list-style-type: none;
padding-right: 20px;

}

#navlist li a img {
	border: 0;

}

#navcontainer 
{ 
width: 100%;
margin-right:3%;
margin-left:3%;
}
